[submodule "static/AdminLTE"]
	path = static/AdminLTE
	url = https://github.com/almasaeed2010/AdminLTE.git
	branch = master
[submodule "static/plugins/bootstrap-datepicker"]
	path = static/plugins/bootstrap-datepicker
	url = https://github.com/uxsolutions/bootstrap-datepicker.git
	branch = master
[submodule "static/plugins/icheck"]
	path = static/plugins/icheck
	url = https://github.com/fronteed/icheck.git
	branch = 1.x
