    <div class="box">
    <div class="panel-heading"><i class="fa fa-users"></i> 用户列表</div>
    <div class="panel-body">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>区域</th>
                <th>用户账号</th>
                <th>状态</th>
                <th>资费</th>
                <th>创建时间</th>
                <th>到期时间</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
	      {{ range .MemberList }} 
            <tr>
                <td>{{map_get $.NodeMap .NodeId}}</td>
                <td>
                    <a href="/member/detail?member_id={{.Id}}">{{.Name}}</a>
                </td>
                <td>
                    {{ if (call $.IsExpire .ExpireDate) or (eq .Status 4) }}
                        <span class="label label-warning">到期</span>
                    {{else if eq .Status  1 }}
                        <span class="label label-success">正常</span>
                    {{else if eq .Status  2 }}
                        <span class="label label-default">停机</span>
                    {{else if eq .Status 3  }}
                        <span class="label label-danger">销户</span>
                    {{end}}
                </td>
                <td>{{map_get $.ProductMap .ProductId}}</td>
                <td>{{.CreateTime}}</td>
                <td>{{.ExpireDate}}</td>
                <td>
                    <a class="btn btn-default btn-xs" href="/member/detail?member_id={{.Id}}">用户受理</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
	{{ if .Paginator }}
	{{ str2html .Paginator}}
	{{end}}
    </div>
</div>




<script>
      
function do_submit(){
    $("#query_form").attr("action", "/member");
    $("#query_form").submit();
}

function do_delete(member_id)
{
    if(confirm("删除用户将删除用户所有相关数据，包括账号，日志，订单等，不可恢复，确认操作吗？")) {
        window.location.href = "/member/delete?member_id="+member_id;
    }
    
}
</script>

