 <div class="box">
    <div class="panel-heading"><i class="fa  fa-user-plus"></i> {{ .Title }}
      <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
    </div>
    <div class="panel-body">
            {{ if .msg }}
            <div class="alert alert-warning">{{ .msg }}</div>
            {{ end }}
	    
            {{ str2html .Form }}	    
    </div>
 </div>

<script>
function productCalc(){
    param = {
        'months': $("#months").val() || 0,
        'product_id':$("#product_id").val()
    }
    $.post("/bus/opencalc", param, function (ev) {
        console.log(ev);
        if(ev.code==0){
            console.log(ev.data);
            $("#fee_value").val(ev.data.fee_value);
            $("#expire_date").val(ev.data.expire_date);
            if(ev.data.policy == 0){
               $("#months").parent().parent().show();
            }else{
               $("#months").val(0);
               $("#months").parent().parent().hide();
            }
        }
    }, "json");
}

function check_samename()
{
    if($("#is_samename_").is(':checked')){
        $("#member_name").parent().parent().show();
        $("#member_password").parent().parent().show();
    }
    else{
        $("#member_name").parent().parent().hide();
        $("#member_password").parent().parent().hide();
    }
}


//页面初始化
$(document).ready(function (){
    $("#expire_date").datepicker( {format: 'yyyy-mm-dd',startDate:'1d' } );
    $('#product_id').change(function() {
        productCalc();
    });
    $('#months').blur(function() {
        productCalc();
    });    
    check_samename();
    $("#is_samename_").click(function(){
        check_samename();
});

   productCalc();
});
</script>

